[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
msgpack = "~=1.0"
websockets = "~=10.1"
aiohttp = "~=3.7"

[dev-packages]
black = "*"
flask = "~=2.2"
pytest-asyncio = "~=0.19"

[pipenv]
allow_prereleases = true

[requires]
python_version = ">=python 3.8"